/* MAIN */


/* GAME BOARD */
#board td {
  width: 50px;
  height: 50px;
  border: solid 1px blue;
  border-radius: 50%; /*maybe remove this??*/
}

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

.piece.p1 {
  background-color: red;
}

.piece.p2 {
  background-color: gold;
}

.piece.p3 {
  background-color: green;
}



#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}

/* BUTTONS */
.hidden {
  visibility: hidden;
}